.occupied {
    color:Tomato;
}

.unoccupied {
    color:gray;
}

.SEVERE {
    background:tomato;
}

.MEDIOCRE {
    background:orange;
}

.MINOR {
    background:lightgreen;
}

#mapid { height: 800px; }