.occupied {
    color:Tomato;
}

.unoccupied {
    color:gray;
}

.SEVERE {
    background:tomato;
}

.MEDIOCRE {
    background:orange;
}

.MINOR {
    background:lightgreen;
}

.incidentRowOdd {
    background: lightgrey;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.vehicleRowOdd {
    background: lightgrey;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.vehicleRowEven {
    background: lightcyan;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#mapid { height: 800px; }