<h3>Incident page</h3>
<button type="button" class="btn btn-secondary" ng-click="ctrl.createIncident()">Create Incident</button>

<div class="container">
	<div class="row" ng-class-odd="'incidentRowOdd'" ng-repeat="incident in ctrl.getAllIncidents()">
		<div class="col">
			<h2>{{incident.location.display_name}}</h2>


			<h4>Slachtoffers</h4>
			<div class="row {{victim.injuryLevel}}" ng-repeat="victim in incident.medicalTasks.victims">
				<div class="col"><span ng-if="victim.trapped"><img src="../../brandweer.png" height="15" width="15"/></span> {{victim.healCountdown}}</div>
			</div>

			<h4>Brandweer taken</h4>
			<div class="row">
				<div class="col-1">
					<div><span><i class="fas fa-fire"></i></span>{{incident.fireTasks.fireCountdown}}</div>
				</div>
				<div class="col-1">
					<div><span><i class="fas fa-wrench"></i></span>{{incident.fireTasks.technicalCountdown}}</div>
				</div>
			</div>

			<h4>Politie taken</h4>
			<div class="row" ng-repeat="criminal in incident.policeTasks.criminals">
				<div class="col-1">
					<div><span><i class="fas fa-link"></i></span>{{criminal.arrestCountdown}}</div>
				</div>
			</div>
			<h4>Verkeer</h4>
			<div class="row">
				<div class="col-1">
					<div><span><i class="fas fa-link"></i></span>{{incident.trafficDuty.amountOfUnitsPerformingTrafficDuty}} / {{incident.trafficDuty.requiredUnits}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
